<section class="section">
  <h2 id="contactdetails">Contact Details</h2>
   <p class="phone"><a href="tel:6783723716">tel: 678-372-3716</a></p>
   <p class="mail"><a href="mailto:ogonzal87@gmail.com">email: ogonzal87@gmail.com</a></p> 
</section>
<footer id="externalprofiles">
  <a href="http://teamtreehouse.com/ogonzal87"><img src="img/threehouse_icon.png" atl=ThreeHouse Logo></a>
  <a href="http://www.linkedin.com/in/ogonzalez87/"><img src="img/LinkedIn_icon.png" atl=Linkedin Logo></a>
  <p>&copy; 2014 Oscar Gonzalez</p>
</footer>
