<header>
  <a name="about"></a>
  	<div class="intro-header">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-12">
  					<div class="intro-message">
  						<h1>Landing Page</h1>
  						<h3>A Template by Start</h3>
  						<hr class="intro-divider">
  						<ul class="list-inline intro-social-buttons">
  							<li>
  								<a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
  									<i class="fa fa-twitter fa-fw"></i> 
  									<span class="network-name">Twitter</span></a>
  							</li>
  							<li>
                                <a href="https://github.com/ogonzal87" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/ogonzalez87" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                         </ul>
                     </div>
                </div>
            </div>
        </div>
    </div>
</header>



    <h1>Hi! I'm OG.<h1/>
  </a>
<h2>About Me</h2>
</header>
 <section class="lead">
  <p>Enthusiast of all things Tech and life growth hacks.</p>  
  <p>If I am not working, I am traveling. I have visited over 30 countries and speak 3 languages (will soon add the forth; code). Currently, my passions are defined by learning, anything-Tech related, entrepreneurship, soccer, networking, playing the uke, and coffee; In that specific order.</p>  
  <p>Short term, I plan to close the gap between Sales and IT for a promising technology start up upon graduation. Long term - I will be the owner of my own Tech start up.</p>
  </section>
<footer>
  <p><a href="contact">Contact Me</a></p>
  <p>&copy; 2014 Oscar Gonzalez</p>
</footer>

    