<header>
  <a href="http://www.linkedin.com/in/ogonzalez87/" id="name" class="hover">
    <h1>Hi! I'm OG.<h1/>
  </a>
<h2 id="aboutmetitle">About Me</h2>
</header>
 <section id="bodyoftext">
  <p>Enthusiast of all things Tech and life growth hacks.</p>  
  <p>If I am not working, I am traveling. I have visited over 30 countries and speak 3 languages (will soon add the forth; code). Currently, my passions are defined by learning, anything-Tech related, entrepreneurship, soccer, networking, playing the uke, and coffee; In that specific order.</p>  
  <p>Short term, I plan to close the gap between Sales and IT for a promising technology start up upon graduation. Long term - I will be the owner of my own Tech start up.</p>
  </section>
<footer id= "bodyoftext">
  <p><a href="contact">Contact Me</a></p>
  <p>&copy; 2014 Oscar Gonzalez</p>
</footer>

    